				body,
				.slide-content {
				  margin: 0;
				  padding: 0;
				  font-family: Arial, Helvetica, sans-serif;
				  width: 100%;
				  height: 100vh;
				  overflow-x: hidden;
					background:white;
				}
				.slide {
				  background-size: cover;
				  background-position: center;
				  background-repeat: no-repeat;
				}

				.slide-content {
				  display: flex;
				  flex-direction: column;
				  justify-content: center;
				  align-items: center;
				  text-align: center;
				}
				.header{
					text-align:center;
					margin-top:-50px;
				}
				.header img{
					transition: transform .2s;
					width:100px;
					height:auto;
				}
				.header img:hover{
					transform: scale(1.5);
					cursor:pointer;
					width:100px;
					height:auto;
				}
				.menu{
					margin-top:30px;
					background:#F9F9F9;
					width:100%;
					height:100px;
				}
				nav ul{
					display: inline;
					padding: 0px;
					}
				nav ul li {
					display: inline-block;
					list-style-type:none;
					margin-left: 100px;
					}
				nav ul li a{
					line-height: 100px;
					color:black;
					text-decoration: none;
					font-size:18px;
					font-family:'Oswald' , sans-serif;
					}
				nav ul li a:hover{
						color:grey;
						line-height: 100px;
						text-decoration: none;
						font-size:18px;
						font-family:'Oswald' , sans-serif;
					}
					.active{
						color:grey;
						line-height: 100px;
						text-decoration: none;
						font-size:18px;
						font-family:'Oswald' , sans-serif;
					}
					.main{
						margin-top:30px;
						width:75%;
						height:400px;
						border-radius:12px;
						background-size: cover;
						background-position: center;
						background-repeat: no-repeat;
						background-repeat: no-repeat;
			        	animation: slide 40s infinite;
			            text-align:center;

					 animation: slide 40s infinite;
				}
								 @keyframes slide{
						 0%{
					 background-image:linear-gradient(rgba(0,0,50,0.5) , rgba(0,0,50,0.5)),url('images/background.png');
					 }
						 20%{
					 background-image:linear-gradient(rgba(0,0,50,0.5) , rgba(0,0,50,0.5)),url('images/background1.png');
						 }
						 20.01%{
					 background-image:linear-gradient(rgba(0,0,50,0.5) , rgba(0,0,50,0.5)),url('images/background2.png');
					 }
						 40%{
					 background-image:linear-gradient(rgba(0,0,50,0.5) , rgba(0,0,50,0.5)),url('images/background3.png');
					 }
							 40.01%{
					background-image:linear-gradient(rgba(0,0,50,0.5) , rgba(0,0,50,0.5)),url('images/background4.png');
					 }
						 60%{
					 background-image:linear-gradient(rgba(0,0,50,0.5) , rgba(0,0,50,0.5)),url('images/background5.png');
						 }
						 60.01%{
					 background-image:linear-gradient(rgba(0,0,50,0.5) , rgba(0,0,50,0.5)),url('images/background6.png');
					 }
						 80%{
					 background-image:linear-gradient(rgba(0,0,50,0.5) , rgba(0,0,50,0.5)),url('images/background.png');
					 }
							 80.01%{
					 background-image:linear-gradient(rgba(0,0,50,0.5) , rgba(0,0,50,0.5)),url('images/background1.png');
					 }
								 100%{
					 background-image:linear-gradient(rgba(0,0,50,0.5) , rgba(0,0,50,0.5)),url('images/background2.png');
					 }
								 }
					.main h1{
						line-height: 250px;
						color:white;
						font-family:'Oswald' , sans-serif;
						font-size:48px;
						cursor:pointer;
					}
					.main button {
					cursor:pointer;
					width:100px;
					border: none;
					background: black;
					color: white;
					padding: 10px;
					font-size: 18px;
					border-radius: 5px;
					position: relative;
					box-sizing: border-box;
					transition: all 500ms ease;
				}
				.main	button:hover {
					cursor:pointer;
					width:100px;
					border: none;
					padding: 10px;
					font-size: 18px;
					border-radius: 5px;
					position: relative;
					box-sizing: border-box;
					transition: all 500ms ease;
					background: rgba(0,0,0,0);
					color:white;
					box-shadow: inset 0 0 0 3px white;
					}
					.main a{
					color:white;
					text-decoration:none;
					}
					.page {
					width: 30cm;
					min-height: auto;
					padding: 2cm;
					margin: 1cm auto;
					border: 1px #D3D3D3 solid;
					border-radius: 5px;
					background:white;
					box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
				}
				.page h4{
					color:black;
					text-align:left;
				}
				.page h5{
					color:grey;
					text-align:left;
				}
				.logotype{
					cursor:pointer;
					transition: transform .2s;
					width:250px;
					height:auto;
					text-align:center;
				}
				.title{
					letter-spacing:4px;
				}
				.aboutme{
					color:gray;
					line-height: 2.1;
					height:auto;
					width:75%;
					border: 1px #D3D3D3 solid;
					border-radius:12px;
					background: linear-gradient(#F9F9F9 , white);
				}

				.portfolio{
					width:75%;
				}
				.portfolio h1{
					color:gray;
					text-align:center;
					cursor:pointer;
					letter-spacing:2px;
					font-size:21px;
				}
				.portfolio img{
					transition: transform .2s;
					width:15%;
					height:auto;
					border:1px solid black;
				}
				.portfolio img:hover{
					transform: scale(3.0);
					width:15%;
					height:auto;
					border:1px solid black;
				}
				.contacts{
				width:75%;
				}
				.cl{
					line-height:40px;

				}
				.cl h1{
				text-align:center;
				color:gray;
				letter-spacing:2px;
				}
				.cl a{
				text-decoration: none;
				}
				.footer {
				position: fixed;
				left: 0;
				bottom: 0;
				width: 100%;
				color: gray;
				text-align: center;
				}
